<mat-spinner *ngIf="loading"></mat-spinner>
<mat-accordion *ngIf="products.length > 0 && !loading">
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      {{product.name}}
    </mat-expansion-panel-header>
    <h1>{{product.price}}</h1>
    <div>
      <img [src]="product.image" [alt]="product.name">
    </div>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button mat-button color="warn" (click)="onDelete(product._id)">delete</button>
      <a mat-button color="primary" [routerLink]="['/edit',product._id]">edit</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="products.length <= 0 && !loading">No products</p>