<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="row" *ngIf="products.length > 0 && !loading">
        <div class="card col-sm-12" style="width:400px" *ngFor="let cartitem  of cartitems">
          <div class="card-body">
            <p class="card-text">name: {{cartitem.item.productId.name}}</p>
            <p class="card-text">price: {{cartitem.item.productId.price}}</p>
            <p class="card-text">quantiti: {{cartitem.item.quantity}}</p>
            <p class="card-text">total-price: {{cartitem.item.quantity*cartitem.item.productId.price}}</p>
            <!-- <img class="card-img-top" [src]="product.image" [alt]="product.name" style="width:100%"> -->
            <mat-action-row *ngIf="userIsAuthenticated">
              <!-- <button mat-button color="warn" (click)="onDelete(product.id)">delete</button>
              <a mat-button color="primary" [routerLink]="['/edit',product.id]">edit</a> -->
            </mat-action-row>
          </div>
        </div>
        <p>cart created at {{cartitems[0].item.datecreated}}</p>
      </div>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <div class="row" *ngIf="products.length > 0 && !loading">
        <div class="card col-sm-4" style="width:400px" *ngFor="let product of products">
          <div class="card-body">
            <h4 class="card-title">name: {{product.name}}</h4>
            <p class="card-text">category: {{product.category}}</p>
            <p class="card-text">price: {{product.price}}</p>
            <img class="card-img-top" [src]="product.image" [alt]="product.name" style="width:100%">
            <mat-action-row *ngIf="userIsAuthenticated">
              <button mat-button color="warn" (click)="onDelete(product.id)">delete</button>
              <a mat-button color="primary" [routerLink]="['/edit',product.id]">edit</a>
            </mat-action-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

















<!-- <mat-spinner *ngIf="loading"></mat-spinner>
<mat-accordion *ngIf="products.length > 0 && !loading">
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      {{product.name}}
    </mat-expansion-panel-header>
    <h1>{{product.price}}</h1>
    <div>
      <img [src]="product.image" [alt]="product.name">
    </div>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button mat-button color="warn" (click)="onDelete(product._id)">delete</button>
      <a mat-button color="primary" [routerLink]="['/edit',product._id]">edit</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="products.length <= 0 && !loading">No products</p> -->
<!-- ================================================================================================================== -->