<mat-card class="example-card">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddPproduct()" *ngIf="!loading">
    <!-- ================================================================================================================ -->
    <!-- name -->
    <!-- ================================================================================================================ -->
    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="name" placeholder="name">
      <mat-error *ngIf="form.get('name').invalid">name</mat-error>
    </mat-form-field>
    <!-- ================================================================================================================ -->
    <!-- category -->
    <!-- ================================================================================================================ -->
    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="category" placeholder="category">
      <mat-error *ngIf="form.get('category').invalid">category</mat-error>
    </mat-form-field>
    <!-- ================================================================================================================ -->
    <!-- price -->
    <!-- ================================================================================================================ -->
    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="price" placeholder="price">
      <mat-error *ngIf="form.get('price').invalid">please enter a title</mat-error>
    </mat-form-field>
    <!-- ================================================================================================================ -->
    <!-- image -->
    <!-- ================================================================================================================ -->
    <button mat-button type="button" (click)="addfile.click()">addfile</button>
    <input type="file" #addfile (change)="onfilepick($event)">
    <div *ngIf="previmage!=='' && previmage && form.get('image').valid">
      <img [src]="previmage" [alt]="form.value.title">
    </div>
    <br>
    <button type="submit">addproduct</button>
  </form>

  <p>{{newpost}}</p>
</mat-card>