<div class="container-fluid">
  <div class="row">

    <!-- login section -->

    <div class="col-sm-4">
      <mat-card>
        <h1 *ngIf="user">your role is :{{user.role}}</h1>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!user">
          <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
              required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent" type="submit">Login</button>
        </form>
      </mat-card>
    </div>

    <!-- about section -->

    <div class="col-sm-4" id="about">
      <mat-card>
        <h1>why to by in our store?</h1>
        <ul class="list-group">
          <li class="list-group-item">best prices</li>
          <li class="list-group-item">best quality</li>
          <li class="list-group-item">best products</li>
        </ul>
      </mat-card>
    </div>

    <!-- user data section -->

    <div class="col-sm-4">
      <mat-card>
        <h3>available products:</h3>
        <p>{{productslenth}} products</p>
        <br>
        <h3>number of orders</h3>
        <p>{{orderslenght}} orders</p>
        <div *ngIf="user">
            <h3>welcome,your usename is:</h3>
            <p >{{user.name}}</p>
        <!-- user has cart -->
        <div *ngIf="user.cart.items[0]">
          <h3>you have opend cart from date:</h3>
          <p >{{user.cart.items[0].datecreated}}</p>
        </div>
        <div  *ngIf="!user.cart.items[0]">
        <!-- new user witout opend cart-->
        <div *ngIf="lastorder">
            <h3>your last order is from date:</h3>
            <p >{{lastorder[lastorder.length-1].userlastorder.datecreated}}</p>
        </div>
          <!-- old user  witout opend cart-->
        <div *ngIf="!lastorder">
          <h3>welcome to your furst order</h3>
      </div>
    </div>
      </div>
      </mat-card>
    </div>



  </div>
</div>