
<!-- ===================================================================================================================== -->

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [completed]="isCompleted">
    <form [formGroup]="firstFormGroup">
      <p>{{this.message}}</p>
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="passport" formControlName="passport" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="password" formControlName="password" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="password_confirm" formControlName="password_confirm" required>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperNext *ngIf="isCompleted">Next</button>
        <button mat-button (click)="onStep1()" *ngIf="!isCompleted">checkdata</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="city" formControlName="city" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="street" formControlName="street" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="name" formControlName="name" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="lastname" formControlName="lastname" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)=onSignup()>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button routerLink='/login'>go to login</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>